# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
pandas>=3.0.5
pendulum>=3.2.0
pycap>=2.7.0
requests>=2.34.2
tabulate>=0.10.0
psycopg2-binary>=2.9.7